/* line 4, ../saas/style.scss */
a {
  font-variant: italic;
  font-weight: 500;
  color: red;
}
/* line 10, ../saas/style.scss */
a.red {
  color: blue;
}
/* line 13, ../saas/style.scss */
a.red:hover {
  text-decoration: underline;
  text-transform: uppercase;
}

/* line 20, ../saas/style.scss */
p.bottom {
  text-shadow: 0px 0px 1px black;
}
