
@import "compass/css3";

a{
	font:{
		variant:italic;
		weight:500;
		}
	color: red;
  &.red {
	  color:blue;
  }
  &.red:hover{
	  text:{
		  decoration:underline;
		  transform: uppercase;
	  }
  }
}
p.bottom{
	@include single-text-shadow($color:black);
	
}